/* div {background-color: red; margin-left: 30px} */



p.big { font-size:  2em}

P.little { font-size: 3em}




h1 {text-align: center; color: green;}

.div1{
  height: 100px;
  width: 100px;
  float: right;
  background-color: blue;
}
.div2{
  height: 100px;
  width: 100px;
  float: left;
  background-color: purple;
}

nav{
  background-color: grey;
  padding: 10px 30% 10px 30%;
  display: flex;
  justify-content: space-between;
}

a:hover {
  color:lightblue;
}

a {
  text-decoration: none;
}

.homepage-desc {
  font-size: 2em;
  margin: 0 20px 0 20px;
}
.about-box {
  display:flex;
  border: 2px solid black;
  width: 80%;
  margin-left: 35px;
}

.homepage-container {
  display: flex;
}

.homepage-info {
  border: 2px solid black;
  width: 400px;
  margin-left: 200px;
}




.about-photo {
  display: block;
  margin: 0 auto;

}


div.left-side {
  width: 50%;
  border: 2px solid black;
}

div.right-side {
  width: 50%;
  border: 2px solid black;
}

.product {
  width: 400px;
  border: 2px solid blue;
  margin: 10px 5px 10px 20px;
}

.product:hover {
  /* background-color: red; */
  border: 4px solid black;
}

.products-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.product-photo {
  display: block;
  margin: auto;
}

.product-title {
  text-align: center;
}

.product-text {
  text-align: center;
}
